{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "ignorePatterns": [
    "dist/",
    "src/templates"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "comma-dangle": ["error", "always-multiline"],
    "import/named": "off",
    "import/namespace": "off",
    "import/no-absolute-path": "off",
    "no-console": [
      "error", {
        "allow": ["assert", "warn", "error", "info"]
      }
    ],
    "vue/multi-word-component-names": "off"
  },
  "overrides": [
    {
      "files": ["test/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
    }
  ]
}
